body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef8f6;
}

.bg-nav{
    background-color: #eef8f6;
    padding-top:20px;
    padding-bottom:20px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #0f766e !important;
}

.nav-link{
    color:#5f6666;
    margin-right:35px;
    font-size:15px;
    font-weight:500;
}

.trial-btn:hover {
    color: white;
}

.edit{
    color:black;
}

.signin{
    color:#111;
    text-decoration:none;
    font-size:15px;
    font-weight:500;
    margin-right:20px;
}

.trial-btn{
    background-color:#0f766e;
    color:white;
    border-radius:30px;
    width:170px;
    height:50px;
    border-width:0px;
    font-weight:bold;
}

.hero-section {
    background-color: #eef8f6;
    padding-top: 90px;
    padding-bottom: 100px;
}

.badge-box {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    color:#0f766e;
}

.start-btn:hover {
    color: white;
}

.edit-1{
    color:#0f766e;
    font-weight: bold;
}

.main-heading {
    font-size: 50px;
    font-weight: bold;
    color: #112322;
}

.edit-2{
    font-style: italic;
}

.description{
    color:#697776;
    font-size:20px;
    margin-top:25px;
    margin-bottom:40px;
}

.start-btn {
    background-color: #0f766e;
    color: white;
    border-radius: 30px;
    padding: 12px 30px;
    width:230px;
    height:45px;
}

.icon{
    color:#0f766e;
    margin-right:8px;
    font-size:14px;
}

.demo-btn {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 12px 30px;
    color:#0f766e;
}

.small-text {
    font-size: 14px;
    font-weight: 500;
    color:#0f766e;
    margin-right:8px;
}

.dot-container{
    background-color:#e8f7f4;
    padding:15px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.col-lg-6{
    position:relative;
}

.growth-card{
    position:absolute;
    top:30px;
    right:-20px;
    z-index:10;
    background-color: #0f766e;
    border-radius: 20px;
    color: white;
    padding:8px;
    font-size: 15px;
}

.notify-card{
    position:absolute;
    bottom:-20px;;
    left:-5px;
    z-index:10;
    background-color: white;
    border-radius: 20px;
    width:200px;
    height:80px;
    padding:8px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}

.red {
    background-color: #ff5f57;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #28c840;
}

.dashboard-card {
    background-color: white;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}

.graph-box {
    display: flex;
    
    align-items: flex-end;
    height: 180px;
    margin-top: 30px;
    
}

.bar {
    width: 45px;
    background-color: #0f766e;
    border-radius: 6px 6px 0px 0px;
    border-color: #d0f1ee;
    border-width: 1px;
    border-style: solid;
    margin-right: 20px;
}

.b1 {
    height: 40px;
    background-color: #cdd2d2;

}

.b2 {
    height: 60px;
    background-color: #cdd2d2;

}

.b3 {
    height: 50px;
    background-color: #cdd2d2;
}

.b4 {
    height: 80px;
}

.b5 {
    height: 55px;
    background-color: #cdd2d2;
}


.b6 {
    height: 90px;
}

.b7{
    height:65px;
    background-color: #cdd2d2;
}

.b8{
    height:100px;
}

.card-container{
    background-color: #eef8f6;
    border-radius: 20px;
    padding:5px;
}

.company-section {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom-para{
    color:gray;
    font-size: 15px;;
}







































