.bg-color{ 
    margin: 0; 
    padding: 0; 
    font-family: "DM Sans", sans-serif; 
    background-color: #eef8f6; 
    background-size: cover;
}

.main{
    text-align: center;
}

.button-1{
    background-color: #ccf7f1;
    color:#2a9d8f;
    border-radius: 30px;
    padding:8px;
    font-size: 13px;
    font-weight: 700px;
    border-width: 0px;
    margin-bottom: 20px;
}

.main-heading{
    font-size: 30px;
    font-weight: bold; 
    color: #102321; 
    margin-bottom: 40px;
}

.edit{
    color: #1d8478; 
    font-family: "Playfair Display", serif; 
    font-style: italic; 
    font-weight: bold;
}

.button-2{
    background-color: #ffffff; 
    padding: 5px; 
    border-radius: 30px; 
    color: #4f6663; 
    font-weight: 600; 
    font-size: 15px;
    height:40px;
    width:80px;
    margin: 8px;
    border-width:0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.button-3{
    width:150px;
}

.button-4{
    width:95px;
}