.bg-color{
    background-color:#eef8f6;
    background-size: cover;
}

.main{
    text-align:center;
    padding:20px;
}

.button-1{
    border-radius:20px;
    background-color:#E7F3F1;
    color:#2A9D8F;
    font-family: "DM Sans", sans-serif;
    font-size:10px;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bold;
}

.dot{
    font-weight:bold;
}
  
.heading-1{
    font-size:40px;
    font-weight:bold;
    color:black;
    font-family: "Playfair Display";
}

.design{
    color:#2c8b80;
    font-style:italic;
}

.paragraph-1{
    color:gray;
}
 
.para{
    color:#2A9D8F;
    font-weight:normal;
    font-size:15px;
}
 
.heading-2{
    font-size:35px;
    font-weight:bold;
}

.card-container{
    background-color:Whitesmoke;
    border-radius:15px;
    padding:20px;
   
}

.card-container-one{
    background-color:White;
    padding:8px;
    border-radius:10px;
    width:500px;
}

.paragraph-3{
    font-size:25px;
    font-weight:bold;
}

.line {
    width: 85%;
    height: 4px;
    background: #2c8b80;
    border-radius: 10px;
}

.recent{
    color:gray;
    font-size: 15px;;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e4faf7;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.button-3{
    color:rgb(38, 143, 132);
    background-color:#a1e8e0;
    border-radius:20px;
    border:none;
    
}

.button-4{
    background-color:#dbebe9;
    border-radius:20px;
    color:rgb(158, 155, 155);
    border:none;
}

.bottom {
    background: white;
    border-radius: 20px;
    padding: 15px;
}





.curve{
    font-style:italic;
}

ul li{
    list-style-type:none;
}


.online-users{
    display:flex;
    align-items:center;
    margin-top:15px;
}

.user-circle{
    width:42px;
    height:42px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-weight:bold;
    font-size:18px;
    margin-right:-8px;
    border:3px solid white;
}

.user1{
    background-color:#0f766e;
}

.user2{
    background-color:#3cb29f;
}

.user3{
    background-color:#687472;
}

.user4{
    background-color:#dff2ef;
    color:#687472;
}

.last {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    border-top: 1px solid #d9e5e3;
    padding-top: 60px;
}

.last {
    text-align: center;
}

.last h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.last p {
    color:black;
    font-size: 14px;
}


